{% extends "./views/shard.njk" %}
{%block css %}
    <link rel="stylesheet" type="text/css" href="./static/css/publicStyle.css" />
	<link rel="stylesheet" type="text/css" href="./static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="./static/css/index233.css">
{% endblock %}
{%block content%}
<div class="qw-container qw-border-top">

  <!-- 内容 -->
    <div class="qw-container qw-about">
        <!-- 关于我们 -->
        <div class="banner">
            <div class="view"></div>
            <p class="c35">
品牌由国内婚姻家庭咨询师、心理学专业人士及婚姻家庭维权律师组建而成，专注两性关系成长及婚恋家庭方向咨询。<p>公司注册于2018年初，注册资金300万，主要提供挽回爱情、修复婚姻、婚商培训、策划脱单等两性情感服务。</p><p>早在2010年，爱情120公司就以导师工作室形式开设两性相处技巧培训课程，通过专业的情感咨询师为来访者提供一对一的咨询服务。</p><br>  </p>
            <p class="c35">企业文化：
爱情120倡导“为爱加油”的健康情感价值观，秉承“爱是一种需要被学习的能力”的理念，鼓励每个人积极面对自身情感问题。<p>提升自我，重视家庭情感生活规划，寻找科学方法修复情感。</p>
</p>
        </div>
        
    {% endblock %}