{%extends './views/shard.njk'%} 
{% block content %}
<div class="qw-container qw-border-top">

  <!-- 内容 -->
    <div class="qw-container qw-about">
        <!-- 关于我们 -->
        <div class="banner">
            <div class="view"></div>
            <p class="c35">成都爱情120教育咨询有限公司成立于2016年3月，其前身是2012年成立的成都两性情感咨询工作室---婚恋情感工作室。公司主要提供情感挽回、婚姻挽回、巩固情感、长期关系维护以及两性关系处理、矛盾危机化解、恋爱技巧提升与成长课程管理等服务。是一家由国内专业约会专家、婚姻家庭咨询师、心理咨询师、精神分析师、社会心里学家、危机干预心理师，婚姻家庭维权律师联合组成的，专注于两性情感解决方案的专业化公司。<br>  </p>
            <p class="c35">公司拥有国内较早从事情感方面相关服务的专业团队。服务老师均为专长于两性研究的心理学教授、情商培训师、婚姻家庭维权律师。 不仅具有专业的理论水平，而且还具有资深阅历和情感服务经验，对任何复杂感情问题的分析判断、危机公关、参谋化解等专业范畴深具见地。</p>
        </div>
        <div class="bar2">
            <div class="view">
                <div class="deom qw-clear">
                    <div class="map-img qw-left"><img src="./static/images/about/ab_map_bg.jpg" alt=""></div>
                    <div class="map-text qw-left"></div>
                </div>
            </div>
        </div>
        <div class="bar3">
            <div class="bg"></div>
        </div>
        <div class="bar4">
            <div class="view">
                <div class="tit"></div>
                <div class="nav">
                    <ul>
                        <li><img src="./static/images/about/ab_bar4_nav1.png" alt=""></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="bar5">
            <ul>
                <li><img src="./static/images/about/ab_bar5_nav1.png" alt=""></li>
                <li><img src="./static/images/about/ab_bar5_nav2.png" alt=""></li>
            </ul>
        </div>

     <!-- 推广合作 -->
    <div class="bar6">
       <img src="./static/images/about/ab_map_bg0.jpg" alt="">
    </div>
    {% endblock %}