{% extends "./views/shard.njk" %}
{%block css %}
    <link rel="stylesheet" type="text/css" href="./static/css/publicStyle.css" />
	<link rel="stylesheet" type="text/css" href="./static/css/style.css" />
{% endblock %}
{%block content%}
<div class="qw-container qw-border-top">
    <!-- 轮播 -->
    <div class="qw-banner-view" style="height:400px">
        <ul class="qw-banner">
            <li>
                <a href="">
                    <img src="./static/images/banner0.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="./static/images/banner1.jpg" alt="">
                </a>
            </li>
        </ul>
    </div>

    <!--第一部分-->
    <!-- 专业优势 -->
    <div class="qw-advantage">
        <div class="qw-wrapper">
            <div class="qw-img-title">
                <img src="./static/images/index/home_title_00.png">
            </div>
            <div class="qw-advantage-main">
                <a class="qw-advantage-item s1" href="./be_pretty">
                    <img src="./static/images/index/h_adv_00.jpg">
                </a>
                <a class="qw-advantage-item s2" href="./marriage">
                    <img src="./static/images/index/h_adv_01.jpg">
                </a>
                <a class="qw-advantage-item s3" href="./love">
                    <img src="./static/images/index/h_adv_02.jpg">
                </a>
                <a class="qw-advantage-item s4" href="./have_an_affair">
                    <img src="./static/images/index/h_adv_03.jpg">
                </a>
                <a class="qw-advantage-item s5" href="./the_one">
                    <img src="./static/images/index/h_adv_04.jpg">
                </a>
            </div>
        </div>
    </div>
    <!-- <div class="qw-home-bird"> -->

    <!--第二部分-->
    <div class="section6">
        <div class="exp-box">
            <div class="expert-pic" id="featured">
                <div class="image" id="image_pic-01">
                    <img class="pic" src="./static/images/01.png">
                </div>
                <div class="image" id="image_pic-02">
                    <img class="pic" src="./static/images/02.png">
                </div>
                <div class="image" id="image_pic-03">
                    <img class="pic" src="./static/images/03.png">
                </div>
            </div>
            <div class="expert-info">
                <h3 class="expert-name">王炜老师</h3>
                <p class="honer1"></p>
                <p class="honer2"></p>
                <p class="honer3"></p>
                <p class="honer4"></p>
                <p class="honer5"></p>
                <p class="honer6"></p>
                <div class="welldetail">
                    擅长领域：恋爱婚姻心里研究/爱情挽回
                    <br/> 婚姻修复/两性关系指导/家庭关系维护
                </div>

                <div class="thumbs" id="thumbs">
                    <ul>
                        <li class="slideshowItem">
                            <a id="thumb_pic-01" href="javascript:" class="current">
                                <img src="./static/images/01_1.png">
                            </a>
                        </li>
                        <li class="slideshowItem">
                            <a id="thumb_pic-02" href="javascript:">
                                <img src="./static/images/02_1.png">
                            </a>
                        </li>
                        <li class="slideshowItem">
                            <a id="thumb_pic-03" href="javascript:">
                                <img src="./static/images/03_1.png">
                            </a>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <button class="kstBtn button1" title="立即咨询"></button>
    </div>

    <!--第三部分-->
    <!-- 服务项目 -->
    <div class="qw-home-service">
        <div class="qw-wrapper">
            <div class="qw-img-title">
                <img src="./static/images/index/home_title_01.png">
            </div>
            <ul class="qw-service-grids qw-clear">
                <li class="qw-service-item qw-left">
                    <img src="./static/images/index/home_project_00.png" alt="">
                    <div class="qw-service-subtitle">每位咨询师均具有国家颁布的资质证明，经验卓越</div>
                </li>
                <li class="qw-service-item qw-left">
                    <img src="./static/images/index/home_project_01.png" alt="">
                    <div class="qw-service-subtitle">提供恋爱、婚姻、个人提升等全方位的情感咨询服务体系。</div>
                </li>
                <li class="qw-service-item qw-left">
                    <img src="./static/images/index/home_project_02.png" alt="">
                    <div class="qw-service-subtitle">在女性婚恋咨询和情感服务沉淀多年，成功服务超千万会员</div>
                </li>
            </ul>
        </div>
    </div>
    <!--第四部分-->
    <div class="section4">
        <div class="emotion-danger">
            <div class="text-box">
                <h3 class="title4_1"></h3>
                <p class="p1">如果有一项服务，可以手把手教你处理情感危机，帮你追到心仪的他，挽回失去的幸福和爱人，让你从此不必担心他对你的爱减少或消失，不再因为感情伤害伤心失落，你愿意尝试吗？</p>
                <p class="p2">“缺乏处理情感危机能力”是导致近年来离婚率高居不下的一个重要原因。”有调查发现，88%的情侣和夫妻表示没有接受过婚恋培训和情感咨询，其中42.3%的恋人在面对情感危机时选择逃避，53.6%的恋人则采用冷战、分居、争吵等不当的方式处理情感危机，而仅有4.1%会通过求助情感专家正确处理家庭和情感矛盾，直至危机化解，成功维护家庭的完整和婚姻的幸福。</p>
                <button class="kstBtn button4" title="立即咨询"></button>
            </div>
            <div class="img-box">
                <img src="./static/images/pic1.png" />
            </div>
        </div>
        <div class="hrbg"></div>
        <div class="emotion-danger emotion-danger2">
            <div class="img-box">
                <img src="./static/images/pic2.png" />
            </div>

            <div class="text-box">
                <h3 class="title4_2"></h3>
                <p class="p1">为了更好地解决都市人的情感问题和婚恋危机，爱情青蛙首创情感110服务，成立了一支拥有数十年资深情感服务经验，及专业咨询技能的强大咨询团队。</p>
                <p class="p2">针对情感不合、婚姻关系破裂、婆媳关系紧张、伴侣出轨等情况提供咨询、婚姻挽回、情感婚恋课堂、婚姻修复等专业救助服务，同时通过形象管理师、情感咨询师、精准匹配师形成“三对一服务”，三重专业保障打造强婚恋模式，帮助情感受害者快速走出婚恋情感逆境，重获幸福。</p>
                <button class="kstBtn button4" title="立即咨询"></button>
            </div>
        </div>

    </div>

    <!--第五部分-->
    <div class="section5">
        <div class="title5"></div>
        <div class="adv-box">
        </div>
        <button class="kstBtn button5" title="我要咨询"></button>
        </button>

        <!--第六部分-->
        {# <div class="section6">
            <div class="exp-box">
                <div class="expert-pic" id="featured">
                    <div class="image" id="image_pic-01">
                        <img class="pic" src="./static/images/01.png">
                    </div>
                    <div class="image" id="image_pic-02">
                        <img class="pic" src="./static/images/02.png">
                    </div>
                    <div class="image" id="image_pic-03">
                        <img class="pic" src="./static/images/03.png">
                    </div>
                </div>
                <div class="expert-info">
                    <h3 class="expert-name">王炜老师</h3>
                    <p class="honer1"></p>
                    <p class="honer2"></p>
                    <p class="honer3"></p>
                    <p class="honer4"></p>
                    <p class="honer5"></p>
                    <p class="honer6"></p>
                    <div class="welldetail">
                        擅长领域：恋爱婚姻心里研究/爱情挽回
                        <br/> 婚姻修复/两性关系指导/家庭关系维护
                    </div>

                    <div class="thumbs" id="thumbs">
                        <ul>
                            <li class="slideshowItem">
                                <a id="thumb_pic-01" href="javascript:" class="current">
                                    <img src="./static/images/01_1.png">
                                </a>
                            </li>
                            <li class="slideshowItem">
                                <a id="thumb_pic-02" href="javascript:">
                                    <img src="./static/images/02_1.png">
                                </a>
                            </li>
                            <li class="slideshowItem">
                                <a id="thumb_pic-03" href="javascript:">
                                    <img src="./static/images/03_1.png">
                                </a>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>

            <button class="kstBtn button1" title="立即咨询"></button>
        </div> #}

        <!--第七部分-->
        <div class="section7">
            <div class="title7"></div>
            <div class="case-box">
                <div class="case-item">
                    <a>
                        <img src="./static/images/case1.png" />
                    </a>
                    <div class="caseinfo">
                        <a>刘先生</a>
                        <span>情感问题:拯救婚姻</span>
                        <p>我和老婆一直一起在家做生意的，本来计划着要孩子了，但是前不久，她和我大吵一架，拉黑我各种联系方式，并提出离婚，还离家出走了。手足无措之际，我找到了小红伞情感，在导师的分析之下，我找到了我之前和她相处过程中的错误，理解了老婆心中的所想所念。接着导师教我如何和她进行对话，如何把话讲到她的心坎里去。没想到的是，本来对我很抵触的老婆态度开始缓和，我们就用有限的联系渠道一步一步把联系方式加回，老婆也回到了我的身边。</p>
                    </div>
                    <div class="casetips">
                        <h3>Tips</h3>
                        <p>恭喜你！能放下过去说明你也进步很多，以后就按我教你的方法，防止他再次出轨</p>
                        <div>——王炜老师·爱情120情感导师</div>
                    </div>
                </div>
                <div class="case-item">
                    <a>
                        <img src="./static/images/case2.png" />
                    </a>
                    <div class="caseinfo">
                        <a>王女士</a>
                        <span>情感问题:婚姻挽回</span>
                        <p>我和老公有十多年的婚姻了，我们从刚结婚的捉襟见肘，一起努力奋斗到有房有车，孩子也逐渐长大，本应该是我们享受劳动果实的时光。可是，我却在他的手机里看到他和别的女人有染。信任破碎，几番争吵之后，我们的婚姻即将走到尽头。这个时候，我请求小红伞情感的帮助，导师帮我找到了结症所在，我们之间感情的病症都在导师的指导之下药到病除了，现在，老公已经彻底和那个女人断开了联系，而我们一家三口的生活，比以前更加幸福了</p>
                    </div>
                    <div class="casetips casetips2">
                        <h3>Tips</h3>
                        <p>情感的指导能够达到自身的成长，绽放女性魅力，获得内心真正的自由和幸福。</p>
                        <div>——李英老师·爱情120情感导师</div>
                    </div>
                </div>

                <div class="case-item">
                    <a>
                        <img src="./static/images/case3.png" />
                    </a>
                    <div class="caseinfo">
                        <a>夏女士</a>
                        <span>情感问题:拯救婚姻</span>
                        <p>我和老公是家里介绍认识的，对婚姻充满憧憬的我和老公很快完婚了。但是结完婚后才发现，我和老公之间有很多矛盾。我们之间的问题越积越多，最终离了婚。我知道这并不是我要的结果。在小红伞情感的帮助下，我清楚地认识到了老公行为背后的动机和真正的所想所念。导师不仅教我如何和他沟通，还提升了我自己处理问题的能力。我们步步为营，终于化解了我和老公之间的误会，他也重新拥抱了我，跟我提出了复婚。</p>
                    </div>
                    <div class="casetips">
                        <h3>Tips</h3>
                        <p>教导女性学会用身体语言说话，用眼神传递更多魅力，帮助女性变得与众不同；了解男性的思维模式，提升女性内外皆修的涵养，实现自我价值!</p>
                        <div>——钟恒老师·爱情120情感导师</div>
                    </div>
                </div>
            </div>

            <button class="kstBtn button1" title="立即咨询"></button>
        </div>

        <script src="./static/js/lib/project.min.js"></script>
        <script src="./static/js/lib/project.extend.js"></script>

        <!--动态效果-->
        <script>
            //图片 信息切换
            var target = ["pic-01", "pic-02", "pic-03"];

            {# //跳转 快商通 
            $('.kstBtn').click(function () {
                $.TMDkst();
            }); #}
        </script>
    </div>
</div>
{%endblock%}
{% block script %}
	<script src="./static/js/lib/expertChange.js" type="text/javascript" charset="utf-8"></script>
    <!--导师 部分 图片切换-->
    <script src="./static/js/lib/indexshow.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}