{% extends "./views/shard.njk" %}
{%block css %}
    <link rel="stylesheet" href="/static/css/services/marriage.css">
	{# <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/index233.css"> #}
{% endblock %}
{%block content%}
<div class="qw-container qw-border-top">

    <!-- 内容 -->
    <div class="qw-container">
        <!-- 轮播图 -->
        <div class="qw-marriage-view">
            <img src="../static/images/marriage/banner.png">
        </div>
        <!-- 团队优势 -->
        <div class="qw-home-statistics">
            <div class="qw-wrapper">
                <div class="qw-marriage-team">
                    <ul class="qw-home-team-list qw-clear">
                        <li class="qw-home-team-item">
                            <div class="img">
                                <img src="/static/images/marriage/c_01_01.png">
                            </div>
                        </li>
                        <li class="qw-home-team-item">
                            <div class="img">
                                <img src="/static/images/marriage/c_01_02.png">
                            </div>
                        </li>
                        <li class="qw-home-team-item">
                            <div class="img">
                                <img src="/static/images/marriage/c_01_03.png">
                            </div>
                        </li>
                        <li class="qw-home-team-item">
                            <div class="img">
                                <img src="/static/images/marriage/c_01_04.png">
                            </div>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
        <!-- 婚姻障碍 -->
        <div class="qw-home-obstacle-action">
            <div class="qw-wrapper">
                <div class="qw-obstacle-action-title">
                    <img src="../static/images/marriage/c_02_00.png">
                </div>
                <div class="qw-action-listbox-wrapper">
                    <div class="qw-action-listbox">
                        <ul class="qw-action-list qw-clear">
                            <li class="qw-action-item"><img src="../static/images/marriage/c_02_01.png"></li>
                            <li class="qw-action-item"><img src="../static/images/marriage/c_02_02.png"></li>
                            <li class="qw-action-item"><img src="../static/images/marriage/c_02_03.png"></li>
                            <li class="qw-action-item"><img src="../static/images/marriage/c_02_04.png"></li>
                            <li class="qw-action-item"><img src="../static/images/marriage/c_02_05.png"></li>
                            <li class="qw-action-item"><img src="../static/images/marriage/c_02_06.png"></li>
                            <li class="qw-action-item"><img src="../static/images/marriage/c_02_07.png"></li>
                            <li class="qw-action-item"><img src="../static/images/marriage/c_02_08.png"></li>
                        </ul>
                    </div>
                    {# <div class="qw-action-list-control">
                        <a class="qw-list-prev"><img src="../static/images/marriage/c_02_prev.png"></a>
                    </div>
                    <div class="qw-action-list-control">
                        <a class="qw-list-next"><img src="../static/images/marriage/c_02_next.png"></a>
                    </div> #}
                </div>
            </div>
        </div>
        <!-- 出轨概率 -->
            
        <div class="qw-wrapper">
            <img src="/static/images/marriage/hyxh.png"></img>
		    {# <div class="adv-box61"></div> #}
	    </div>
        
        <!-- 出轨类型 -->
        <div class="qw-home-type-kind-column">
            <div class="qw-wrapper">
                <div class="qw-type-kind-title">
                    <img src="../static/images/marriage/c_04_00.png">
                </div>
                <div class="qw-type-kind-listbox">
                    <ul class="qw-type-kind-list qw-clear">
                        <li class="qw-type-kind-item"><img class="qw-type-kind-item-move1" src="../static/images/marriage/c_04_01.png"></li>
                        <li class="qw-type-kind-item"><img class="qw-type-kind-item-move2" src="../static/images/marriage/c_04_02.png"></li>
                        <li class="qw-type-kind-item"><img class="qw-type-kind-item-move3" src="../static/images/marriage/c_04_03.png"></li>
                        <li class="qw-type-kind-item"><img class="qw-type-kind-item-move4" src="../static/images/marriage/c_04_04.png"></li>
                    </ul>
                </div>
            </div>
        </div>
 {% endblock %}